.container{
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-60%, -30%);
    h1{
        font-size: 3rem;
        font-family: serif;
        font-weight: 700;
        color: #000;
    }
}