@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap");
$red: #ca0000;
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $red;

	border-bottom: 0.5px solid #fda8a8;

	padding: 0 5%;
	.title {
		font-family: "Gwendolyn";
		font-size: 3rem;
		font-weight: 700;
		color: rgb(255, 255, 255);
	}
	a {
		color: rgb(255, 255, 255);
		text-decoration: none;
		font-size: 1.2rem;
	}
	ul {
		display: flex;
		padding: 0.5rem 1rem;
		li {
			margin: 0 0.5rem;
			list-style: none;
			a {
				font-weight: 600;
				color: rgb(255, 255, 255);
				text-decoration: none;
				&:hover {
					color: rgb(255, 255, 255);
				}
			}
		}
	}
}

.footer {
	background-color: $red;
	border-top: 0.5px solid #fda8a8;
	padding: 20px;
	text-align: center;
	color: #fff;

	a {
		color: rgb(255, 255, 255);
		text-decoration: none;
		font-weight: 600;
	}
}
.container {
	max-width: 1300px;
	margin: 5rem auto;
	padding: 0 5%;
	min-height: calc(100vh - 15rem);
}

// tool

.form {
	form {
		display: flex;
		flex-direction: column;
		max-width: 400px;
		input {
			margin-bottom: 10px;
			width: 100%;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			&:focus {
				outline: none;
				border: 1px solid #ca0000;
			}
		}
		textarea {
			margin-bottom: 10px;
			width: 100%;
			height: 250px;
			padding: 10px;
			resize: none;
			border: 1px solid #ccc;
			border-radius: 5px;
			&:focus {
				outline: none;
				border: 1px solid #ca0000;
			}
		}
		button{
			margin-top: 10px;
			width: 100%;
			height: 40px;
			background-color: rgb(18, 146, 35);
			border: none;
			color: #fff;
			font-size: 1rem;
			text-align: center;
			cursor: pointer;
			font-weight: 500;
			transition: all 0.3s ease;
			a {
				color: #fff;
				text-decoration: none;
				font-weight: 500;
			}
			&:hover {
				background-color: rgb(15, 124, 30);
			}
		}
	}
}
