@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap");

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fdfbfb;

	border-bottom: 1px solid #e6e6e6;
	padding: 0 5%;
	.title {
		font-family: "Gwendolyn";
		font-size: 3rem;
		font-weight: 700;
		color: #000;
	}
	a {
		color: rgb(66, 66, 66);
		text-decoration: none;
		font-size: 1.2rem;
	}
	ul {
		display: flex;
		padding: 0.5rem 1rem;
		li {
			margin: 0 0.5rem;
			list-style: none;
			a {
				color: #000;
				text-decoration: none;
				&:hover {
					color: #000;
				}
			}
		}
	}
}

.footer {
	background-color: #fdfbfb;

	padding: 20px;
	text-align: center;

	a {
		color: #000;
		text-decoration: none;
		font-weight: 600;
	}
}
.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 5%;
	min-height: calc(100vh - 15rem);
}
