$red: #ca0000;

.headerContainer {
	background-color: $red;
	height: 25rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

// .imagesCompareContainer {
// 	// width: 600px;
// 	margin: 5rem auto;
// }
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.imagesContainer {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	column-gap: 2rem;
	font-size: 0.8rem;
}

.compressed {
	width: 75px;
	height: 75px;

	position: relative;
	overflow-y: clip;
	button {
		position: absolute;
		bottom: -10rem;
		width: 75px;
		height: 30px;
		z-index: 3;
		color: #fff;

		background: rgb(240, 39, 39);
		border: none;
		cursor: pointer;
		transition: all 0.3s ease;
		// width: 100%;
	}
	&:hover {
		img {
			filter: brightness(0.8);
		}
		button {
			background: rgb(240, 39, 39);
			bottom: 0;
		}
	}

	.imageInfo {
		width: 100px;
	}
	img {
		max-height: 75px;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		// width: 100%;
		bottom: 0;
		right: 0;
	}

	font-size: 0.8rem;
	// .imageSize {
	// }
}
.beforeContainer {
	position: relative;
	.imageInfo {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(54, 54, 54, 0.374);
		padding: 0.5rem;
		color: #fff;
		font-weight: bold;
	}
}
.afterContainer {
	position: relative;
	.imageInfo {
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgba(54, 54, 54, 0.374);
		padding: 0.5rem;
		color: #fff;
		font-weight: bold;
	}
}
.imagePreviewContainer {
	background-color: #fff;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 325px));
	// zwidth: 80vw;
	margin: 5rem auto;
	max-width: 1300px;
	height: 700px;
	.formGroup {
		margin-bottom: 10px;
		position: relative;
	}

	input[type="number"] {
		width: 70px;
		height: 40px;
		border: none;
		background-color: transparent;
		color: rgb(101, 101, 101);
		font-size: 1rem;
		text-align: center;
		// border: #cccccc solid 1px;
		border-bottom: #cccccc solid 1px;
	}
	// .textlike {
	// 	&::-webkit-inner-spin-button {
	// 		-webkit-appearance: none;
	// 		margin: 0;
	// 	}
	// 	-moz-appearance: textfield;
	// }
	.thumbnailsContainer {
		grid-column: 1/2;
		grid-row: 1/2;
		width: 100%;
		border: 1px solid rgb(238, 238, 238);
		padding: 10px;
		.px {
			position: absolute;
			top: 7px;
			right: 0;
			color: #303030;
		}

		label {
			width: 140px;
		}
		.select {
			padding: 7px;
			width: 100px;
			background: none;
			border: none;
			border-bottom: 1px solid rgb(238, 238, 238);
			font-size: 15px;
			color: rgb(101, 101, 101);

			option {
				background: #fff;
				font-size: 14px;
				color: rgb(101, 101, 101);
			}
		}
		.thumbnails {
			height: 300px;
			overflow-y: scroll;
			overflow-x: hidden;
			display: grid;
			grid-auto-rows: 70px;
			gap: 1rem;
			grid-template-columns: repeat(auto-fill, 75px);

			scroll-behavior: smooth;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
	.infoItem {
		color: rgb(114, 114, 114);
		font-size: 14px;
	}
	.bold {
		font-size: 16px;
		font-weight: 500;
		color: #303030;
		width: 110px;
		display: inline-block;
	}
	.imagePreview {
		grid-column: 2/4;
		grid-row: 1/2;
		width: 100%;
		border: 1px solid rgb(238, 238, 238);
		border-bottom: 2px solid #ccc;
		padding: 10px min(50px, 5%);
		position: relative;
		.imagePreview__small {
			font-size: 16px;
			text-align: center;
			font-weight: 600;
			position: absolute;
			top: 50%;
			right: 50%;
			text-transform: uppercase;
			transform: translate(50%, -50%);
			z-index: 100;
			background-color: rgba(9, 0, 0, 0.362);
			color: rgb(255, 255, 255);
			padding: 10px;
		}
	}
	.imageInfoContainer {
		border: 1px solid rgb(238, 238, 238);
		grid-column: 4/5;
		grid-row: 1/2;
		width: 100%;
		min-width: 240px;
		padding: 10px;
		.downloadButton {
			margin-top: 10px;
			width: 100%;
			height: 40px;
			background-color: rgb(18, 146, 35);
			border: none;
			color: #fff;
			font-size: 1rem;
			text-align: center;
			cursor: pointer;
			font-weight: 500;
			transition: all 0.3s ease;
			a {
				color: #fff;
				text-decoration: none;
				font-weight: 500;
			}
			&:hover {
				background-color: rgb(15, 124, 30);
			}
		}
		.imageInfo__compressed {
			margin-top: 10px;
		}

		h4 {
			padding: 0;
			margin: 0;
		}
	}
}
.howToContainer {
	background-color: $red;

	padding: 5%;
	margin: 8rem auto 0;
	min-height: 40rem;
	.howTo {
		margin-top: 10px;
		font-size: 17px;
		color: #fff;
		font-weight: 500;
		margin-bottom: 10px;
		h2{
			font-size: clamp(2.5rem, 2.5vw, 3.5rem);
			color: #fff;
			font-weight: 700;
			margin-left: 5%;
		}
	}
}
@media screen and (min-width: 980px) {
	.px {
		left: 13.5rem;
	}
}

// media queries for screen less than 800px
@media screen and (max-width: 980px) {
	.imagePreviewContainer {
		grid-template-columns: repeat(auto-fit, minmax(225px, 325px));
		grid-template-rows: repeat(auto-fit, 300px);
		padding: 10px;
		height: 1000px;

		.thumbnailsContainer {
			grid-column: 1/3;
			grid-row: 1/2;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.thumbnails {
				// width: 100px;
				height: 200px !important;
			}
		}
		.imagePreview {
			grid-column: 1/3;
			grid-row: 2/4;
			height: calc(100% - 2.5rem);
			width: 100%;
			padding: 0 1rem 0;
		}
		.imageInfoContainer {
			grid-column: 3/4;
			grid-row: 1/4;
		}
	}
}

@media screen and (max-width: 675px) {
	.imagePreviewContainer {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(auto-fit, 300px);
		padding: 10px;
		height: unset;

		.thumbnailsContainer {
			grid-column: 1;
			grid-row: unset;
		}

		.imagePreview {
			grid-column: unset;
			grid-row: unset;
			height: calc(100% + 1rem);
			width: 100%;
			// padding: min(20px, 1%) !important;
		}
		.imageInfoContainer {
			grid-column: unset;
			grid-row: unset;
		}
	}
}
// @media screen and (max-width: 930px) {
// 	.imagePreview {
// 		// padding: 0 max(8%,1rem) 0 !important;
// 	}
// }
@media screen and (max-width: 500px) {
	.thumbnails {
		width: 100px;
		height: 200px !important;
		overflow-y: scroll;
	}
	.thumbnailsContainer {
		.select {
			width: 80px !important;
		}
	}
	.imagePreview {
		margin-top: 10px;
	}
	.imageInfoContainer {
		margin-top: 10px;
	}
	label {
		width: 100px !important;
	}
}
// @media screen and (max-width: 920px) {
// 	.imagePreview {
// 		padding: 0 6vw 0 !important;
// 	}
// }
// @media screen and (max-width: 880px) {
// 	.imagePreview {
// 		padding: 0 5vw 0 !important;
// 	}
// }
// @media screen and (max-width: 840px) {
// 	.imagePreview {
// 		padding: 0 4vw 0 !important;
// 	}
// }
// @media screen and (max-width: 800px) {
// 	.imagePreview {
// 		padding: 0 3vw 0 !important;
// 	}
// }
// @media screen and (max-width: 760px) {
// 	.imagePreview {
// 		padding: 0 2vw 0 !important;
// 	}
// }
// @media screen and (max-width: 720px) {
// 	.imagePreview {
// 		padding: 0 1vw 0 !important;
// 	}
// }
// @media screen and (max-width: 680px) {
// 	.imagePreview {
// 		padding: 0 0.5vw 0 !important;
// 	}
// }
