.imagesCompareContainer {
	width: 600px;
	margin: 5rem auto;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.imagesContainer {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	column-gap: 2rem;
	font-size: 0.8rem;
}

.compressed {
	width: 75px;
	height: 75px;

	position: relative;
	overflow-y: clip;
	button {
		position: absolute;
		bottom: -10rem;
		width: 75px;
		height: 30px;
		z-index: 3;
		color: #fff;

		background: rgb(240, 39, 39);
		border: none;
		cursor: pointer;
		transition: all 0.3s ease;
		// width: 100%;
	}
	&:hover {
		img {
			filter: brightness(0.8);
		}
		button {
			background: rgb(240, 39, 39);
			bottom: 0;
		}
	}

	.imageInfo {
		width: 100px;
	}
	img {
		max-height: 75px;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		// width: 100%;
		bottom: 0;
		right: 0;
	}

	font-size: 0.8rem;
	// .imageSize {
	// }
}
.beforeContainer {
	position: relative;
	.imageInfo {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(54, 54, 54, 0.374);
		padding: 0.5rem;
		color: #fff;
		font-weight: bold;
	}
}
.afterContainer {
	position: relative;
	.imageInfo {
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgba(54, 54, 54, 0.374);
		padding: 0.5rem;
		color: #fff;
		font-weight: bold;
	}
}
.imagePreviewContainer {
	background-color: #fff;
	display: flex;
	justify-content: center;
	// zwidth: 80vw;
	margin: 5rem auto;
	max-width: 1300px;
	height: 700px;
	.formGroup {
		margin-bottom: 10px;
	}
	label {
		width: 140px !important;
	}

	input[type="number"] {
		width: 70px;
		height: 40px;
		border: none;
		background-color: transparent;
		color: rgb(101, 101, 101);
		font-size: 1rem;
		text-align: center;
		// border: #cccccc solid 1px;
		border-bottom: #cccccc solid 1px;
	}
	.textlike {
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		-moz-appearance: textfield;
	}
	.thumbnailsContainer {
		width: 25%;
		border: 1px solid rgb(238, 238, 238);
		padding: 10px;
		.select{
			padding: 5px;
			width: 100px;
			background: none;
			border: none;
			border-bottom: 1px solid rgb(238, 238, 238);

			option{
				background: #fff;
				
			}
		}
		.thumbnails {
			height: 300px;
			overflow-y: scroll;
			overflow-x: hidden;
			display: grid;
			grid-auto-rows: 70px;
			gap: 1rem;
			grid-template-columns: repeat(auto-fill, 75px);
			max-width: 100%;

			scroll-behavior: smooth;
			scrollbar-width: none;
			::-webkit-scrollbar {
				display: none;
			}
		}
	}
	.infoItem {
		color: rgb(114, 114, 114);
		font-size: 14px;
	}
	.bold {
		font-size: 16px;
		font-weight: 500;
		color: #303030;
		width: 110px;
		display: inline-block;
	}
	.imagePreview {
		width: 50%;
		border: 1px solid #ccc;
		border-bottom: 2px solid #ccc;
		padding: 10px 50px;
		position: relative;
		.imagePreview__small{
			font-size: 14px;
			position: absolute;
			top: 10px;
			right: 10px;
			color: rgb(186, 186, 186);
		}
	}
	.imageInfoContainer {
		border: 1px solid #ccc;
		width: 25%;
		padding: 10px;
		.downloadButton {
			margin-top: 10px;
			width: 100%;
			height: 40px;
			background-color: rgb(18, 146, 35);
			border: none;
			color: #fff;
			font-size: 1rem;
			text-align: center;
			cursor: pointer;
			font-weight: 500;
			transition: all 0.3s ease;
			a {
				color: #fff;
				text-decoration: none;
				font-weight: 500;
			}
			&:hover {
				background-color: rgb(15, 124, 30);
			}
		}
		.imageInfo__compressed {
			margin-top: 10px;
		}
		
		h4 {
			padding: 0;
			margin: 0;
		}
	}
}
